header {
  opacity: 0;
}

header.fixed {
  opacity: 1;
  margin-top: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-text {
  display: inline-block;
  animation: rotate 2s linear infinite;
  color: red;
}
