/* .progress-bar-container {
  width: 100%;
  height: 1px;
  position: relative;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #fff;
  transition: width 0.5s ease;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  position: relative;
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.card-link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
} */


