/* components/Slider.module.css */
.sliderContainer {
  width: 80%;
  margin: 0 auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* background-color: #ddd; */
  border: 1px solid #ccc;
}

.slide h3 {
  color: #333;
}

.customDot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}