@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #000;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #ffff;

  --headinglineBog: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

html {
  scroll-behavior: initial !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monserrat';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--backgroundColor);
  color: var(--primaryTextColor);
  margin: 0px;
}

.scroll-container:hover .scroll-content {
  animation-play-state: paused;
}
